<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="https://scontent.faep9-2.fna.fbcdn.net/v/t1.0-9/15492440_1061935257268597_7818059057435006506_n.png?_nc_cat=0&oh=370d08ef1739959e73fa8517085d260f&oe=5BA7B949" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="" class="navbar-wagon-item navbar-wagon-link">HOME</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">QUIÉNES SOMOS</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">SERVICIOS</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">NUESTROS CLIENTES</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">HERRAMIENTAS PARA EMPRESAS</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">CONTACTO</a>
  </div>
</div>
