<div class="navbar-wagon sticky">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag 'logooikosblanco.png'%>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">

    <a href="#home" class="navbar-wagon-item navbar-wagon-link">HOME</a>
    <a href="#quienessomos" class="navbar-wagon-item navbar-wagon-link">QUIÉNES SOMOS</a>
    <a href="#servicios" class="navbar-wagon-item navbar-wagon-link">SERVICIOS</a>
    <a href="#nuestrosclientes" class="navbar-wagon-item navbar-wagon-link">NUESTROS CLIENTES</a>
    <a href="#herramientasparaempresas" class="navbar-wagon-item navbar-wagon-link">HERRAMIENTAS PARA EMPRESAS</a>
    <a href="#contacto" class="navbar-wagon-item navbar-wagon-link">CONTACTO</a>
  </div>
</div>
