<div id="home">
  <div class="home-banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 50%), url('https://www.isotools.org/wp-content/uploads/2015/03/control-procesos.jpg');">
    <div class="home-banner-content">
      <h1>OIKOS ANALISTAS</h1>
      <h2> CONSULTORIA INTEGRAL</h2>
<!--       <p class="home-parragraph"> OIKOS ANALISTAS es una consultora con más de 20 años de experiencia brindando servicios de consultoría económica y sondeos de opinión.</p>
-->    </div>

</div>
</div>


<div id="quienessomos">
  <div class="qs-banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 50%), url('https://www.altonivel.com.mx/assets/images/Estructura_2015/Consultoria/Management/equipo-alto-rendimiento.jpg');">
    <div class="qs-banner-content">
      <h1>QUIÉNES SOMOS</h1>
      <div class="qs-columns">
        <p class="qs-parragraph"> Los fundadores de OIKOS ANALISTAS contamos con más de 30 años de experiencia profesional y una gran trayectoria tanto en Bahía Blanca como en toda la región del sudoeste de la Provincia de Buenos Aires.</p>
        <p class="qs-parragraph"> La motivación que nos impulsa desde los inicios es brindar respuestas a las necesidades de información de nuestros clientes en el proceso de toma de decisiones, en ambientes de relativa incertidumbre.</p>
        <p class="qs-parragraph"> Para ello, brindamos un servicio de asesoramiento y consultoría integral, abarcando desde Pymes hasta empresas multinacionales y municipios.</p>
        <p class="qs-parragraph"> Para la prestación de servicios, contamos con profesionales especializados en cada una de estas áreas, con visiones complementarias, lo que garantiza la calidad de los resultados obtenidos cuando a ellos se le suma la responsabilidad y el compromiso con los clientes.</p>
      </div>
    </div>
  </div>
</div>

<div id="servicios">
  <div class="ss-banner" style="background-color: white">
    <div class="ss-banner-content">
      <div class="ss-columns">
        <h2>Análisis de Empresas</h2>
        <br>
        <p class="ss-parragraph"> Los fundadores de OIKOS ANALISTAS contamos con més de 30 años de experiencia profesional y una gran trayectoria tanto en Bahía Blanca como en toda la región del sudoeste de la Provincia de Buenos Aires.</p>
        <h2>Estudios de Mercado</h2>
        <br>
        <p class="ss-parragraph"> Los fundadores de OIKOS ANALISTAS contamos con més de 30 años de experiencia profesional y una gran trayectoria tanto en Bahía Blanca como en toda la región del sudoeste de la Provincia de Buenos Aires.</p>
        <h2>Estudios de Opinión Pública</h2>
        <br>
        <p class="ss-parragraph"> Los fundadores de OIKOS ANALISTAS contamos con més de 30 años de experiencia profesional y una gran trayectoria tanto en Bahía Blanca como en toda la región del sudoeste de la Provincia de Buenos Aires.</p>
      </div>
    </div>
  </div>
</div>

<div id="nuestrosclientes">
 <div class="cl-banner">
  <h2>NUESTROS CLIENTES</h2>
  <%= image_tag("clients.png") %>
</div>
</div>


<div id="herramientasparaempresas">
  <div class="banner" style="background-color: white">
    <div class="banner-content">
      <h2>Análisis de Empresas</h2>
      <p class="parragraph"> Los fundadores de OIKOS ANALISTAS contamos con més de 30 años de experiencia profesional y una gran trayectoria tanto en Bahía Blanca como en toda la región del sudoeste de la Provincia de Buenos Aires.</p>

      <h2>Estudios de Mercado</h2>
      <p class="parragraph"> Los fundadores de OIKOS ANALISTAS contamos con més de 30 años de experiencia profesional y una gran trayectoria tanto en Bahía Blanca como en toda la región del sudoeste de la Provincia de Buenos Aires.</p>

      <h2>Estudios de Opinión Pública</h2>
      <p class="parragraph"> Los fundadores de OIKOS ANALISTAS contamos con més de 30 años de experiencia profesional y una gran trayectoria tanto en Bahía Blanca como en toda la región del sudoeste de la Provincia de Buenos Aires.</p>
    </div>
  </div>
</div>

<div id="contacto">
  <div class="banner" style="background-color: white">
    <div class="banner-content">
      <h2>CONTACTO</h2>
    </div>
  </div>
</div>

<div>
  <div style="background-color: white">
    <br>
  </div>
