<div>
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 50%), url('https://www.isotools.org/wp-content/uploads/2015/03/control-procesos.jpg');">
    <div class="banner-content">
      <h1>ANALISIS DE EMPRESAS</h1>
    </div>
  </div>
  <p class="parragraph"> OIKOS ANALISTAS es una consultora con más de 20 años de experiencia brindando servicios de consultoría económica y sondeos de opinión.</p>
</div>


<div class="about">

  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 50%), url('https://www.altonivel.com.mx/assets/images/Estructura_2015/Consultoria/Management/equipo-alto-rendimiento.jpg');">
    <div class="banner-content">
      <h1>QUIENES SOMOS</h1>
      <p class="parragraph"> OIKOS ANALISTAS es una consultora con más de 20 años de experiencia brindando servicios de consultoría económica y sondeos de opinión.</p>
    </div>
  </div>



</div>
